.App {
  text-align: center;
}
.app__form{
  padding: 7px;
  position: fixed;
  bottom: 0px;
  z-index: 1;
  background-color: antiquewhite;
  width: 100%;
  margin: 10px;
}
.app__formControl{
  display: flex !important;
  flex-direction: row !important;
}
.app__input{
  flex: .98;
}
.app__iconButton{
  flex: .2;
}
