.message{
    margin: 5px;
    width: fit-content;
    background-color: cadetblue;
}


.message__user{
    margin-left: auto;
    background-color:cadetblue;
    text-align: left !important;
}

.message__userCard{
    background-color: rgb(135, 168, 231) !important;
}


.message__guestCard{
    background-color: bisque !important;
}